.container {
  width: 100%;
  height: auto;
  padding-top: 50px;
  /* header & footer height */
  margin: 0 0 -40px 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about_title {
  text-align: center;
  margin-top: 5rem;
  font-size: 1.5rem;
  color: #3e3e3e;
  font-weight: 100;
}
.about-text {
  font-size: 1.4rem;
}

.about_profile img {
  width: 180px;
  border-radius: 50%;
}

.about_list {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.about_item {
  padding-left: 80px;
}

.about_content {
  width: 100%;
  text-align: left;
  padding-bottom: 20px;
}

.about_content p {
  font-size: 0.9rem;
  color: #3e3e3e;
}

.skill_list {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
}

.skill_item {
  padding-right: 20px;
}

.skill_item li {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.skill_item p {
  text-align: center;
  font-size: 0.8rem;
  color: #3e3e3e;
  padding: 10px 0 0 10px;
}
